.floral-boutique-layout {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 1440px;
  padding-right: 23px;
}
.flower-shop-layout {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 116px;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 1223px;
  padding-top: 73px;
  padding-bottom: 104px;
}
.flower-shop-layout1 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 22px;
  padding-left: 22px;
}
.flower-description-section {
  flex: 0 1 auto;
}
.hero-text-with-flower-background {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  font: 400 60px Roboto, sans-serif;
  color: #121212;
  text-align: left;
}
.flower-description-text-style {
  padding: 0;
  margin: 0;
  margin-top: 51px;
  font: 400 20px Roboto, sans-serif;
  color: #838383;
}
.browse-button-style {
  box-sizing: border-box;
  display: block;
  width: 103px;
  min-width: 103px;
  height: 40px;
  margin-top: 46px;
  font: 400 18px Roboto, sans-serif;
  color: white;
  cursor: pointer;
  background: #ff8f52;
  border: none;
  border-radius: 5px;
}
.flower-container {
  flex: 0 0 auto;
}
.image-container-full-width {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: initial;
  height: 192px;
  border: none;
  border-radius: 10px;
  object-fit: cover;
}
.vertical-spacer {
  margin-top: 20px;
}
.image-container-192x192-square {
  box-sizing: border-box;
  display: block;
  width: 192px;
  max-width: initial;
  height: 192px;
  border: none;
  border-radius: 10px;
  object-fit: cover;
}
.floral-section {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.image-container-styled {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  max-width: initial;
  height: 192px;
  border: none;
  border-radius: 10px;
  object-fit: cover;
}
.image-container {
  flex: 0 0 auto;
  margin-top: 20px;
}