.hero-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 119px;
  align-items: center;
  justify-content: flex-start;
  min-width: 1199px;
  padding: 55px 120px 59px;
  background: #454545;
}
.flower-shop-container {
  flex: 1 0 auto;
}
.main-content-container {
  padding: 0;
  margin: 0;
  color: black;
}
.vibrant-flower-heading {
  font: 500 32px Roboto, sans-serif;
  color: #ff8f52;
}

.footer-text-2 {
  font: 500 32px Roboto, sans-serif;
  color: white;
}

.vertical-center-column {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.primary-heading-text-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 400 22px Roboto, sans-serif;
  color: white;
}

.link-list-styles {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  margin-top: 19px;
  font: 400 18px/30px Roboto, sans-serif;
  color: #d9d9d9;
  text-align: left;
}

.link-list-styles:hover {
  color: #ff8f52;
}

.contact-info-section1 {
  flex: 0 0 auto;
  padding-top: 22px;
}
.contact-title {
  padding: 0;
  margin: 0;
  font: 400 22px Roboto, sans-serif;
  color: white;
}


.contact-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.list-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  margin-left: 9.5px;
  font: 400 18px Roboto, sans-serif;
  color: #d9d9d9;
}

.flower-shop-info-box {
  padding-right: 3px;
  padding-left: 3px;
  margin-top: 13px;
}
.flower-shop-description-text-style {
  box-sizing: border-box;
  max-width: 381px;
  padding: 0;
  margin: 0;
  font: 400 18px/30px Roboto, sans-serif;
  color: #d9d9d9;
  text-align: left;
}