@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 5.95% 63.73%; 
    --foreground: 30 18.18% 95.69%; 
    --card: 10.17 63.44% 81.76%; 
    --card-foreground: 339 32.26% 36.47%; 
    --primary: 337.5 16.26% 48.24%; 
    --primary-foreground: 140 7.32% 40.20%; 
    --secondary: 97.06 18.09% 36.86%; 
    --secondary-foreground: 105 29.63% 78.82%; 
    --muted: 210 40% 96.1%; 
    --muted-foreground: 215.4 16.3% 46.9%; 
    --accent: 46.83 37.42% 79.21%; 
    --accent-foreground: 222.2 47.4% 11.20%; 
    --popover: 0 0% 100%; 
    --popover-foreground: 222.2 84.00% 4.90%; 
    --destructive: 0 84.2% 60.2%; 
    --destructive-foreground: 210 40% 98%; 
    --border: 214.3 31.8% 91.4%; 
    --input: 214.3 31.8% 91.4%; 
    --ring: 222.2 84.00% 4.90%; 
    --chart-1: 12 76.00% 61.00%; 
    --chart-2: 173 58.00% 39%; 
    --chart-3: 197 37.00% 24.00%; 
    --chart-4: 43 74.00% 66.00%; 
    --chart-5: 27 87.00% 67.00%; 
    }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}